/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
}

.editor {

}

.editor-toolbar > * {
  display: inline-block;
}

.editor-toolbar > * + * {
  margin-left: 15px;
}

.editor-toolbar-btn {
  cursor: pointer;
  color: #ccc;
}

.editor-toolbar-btn-active {
  color: black;
}

.editor-toolbar-icon {
  font-size: 18px;
  vertical-align: text-bottom;
}

.editor-editable {
  border: 1px solid #eee;
  padding: 10px;
}

.editor-readonly-container {
  position: relative;
  border: 1px solid transparent;
}

.editor-readonly-container:hover {
  border: 1px solid red;
  cursor: move;
}

.editor-readonly-container:hover .btn-editar {
  display: block;
}

.btn-editar {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.editor .editor-toolbar {
  position: relative;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  padding: 10px;
}

.mini-img {
  width: 200px;
  margin: 10px auto;
}

.mini-img img {
  max-width: 100%;
}